<footer class="bg-dark">
  <div class="container p-4">
    <p class="text-center lead text-white m-0">
      Coded with ❤️ by
      <a href="https://github.com/harshtomar6" target="blank">Harsh Tomar</a>
    </p>
  </div>
</footer>
